.about {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: var(--bg-color);
    padding: 5rem 10%; 
}

.about-img img{
    width: 25vw;
    max-width: 250px;
    border-radius: 2rem;
    border: 5px solid var(--main-color);
}

.about-content p{
    text-align: left;
    font-size: var(--normal-font-size);
    margin: 2rem 0 3rem;
}
