.contact {
    padding-bottom: 14rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    column-gap: 1.5rem;
}

.contact-card{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 4.5rem;
    margin-bottom: 2.5rem;
}

.contact-icon, .contact-form-input{
    border: 2px solid var(--main-color);
    background-color: var(--container-color);
}

.contact-icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 4px 4px var(--shadow-color);
    font-size: var(--h3-font-size);
    display: grid;
    place-items: center;
    position: relative;
}

.contact-icon::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 40px;
    height: .25rem;
    background: var(--main-color);
}

.contact-title{
    font-size: var(--h3-font-size);
    margin-block: 0.5rem;
}

.contact-form {
    row-gap: 1.75rem;
}

.contact-form-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem;
}

.contact-form-div{
    display: grid;
    row-gap: 0.5rem;
}

.contact-form-label{
   text-indent: 1.75rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.contact-form-label b{
    color: var(--main-color);
}

.contact-form-input{
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
}

.contact-form-area{
    resize: none;
    height: 140px;
}

.contact-submit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem 2rem;
}

.message{
    position: absolute;
    bottom: 0.75rem;
    right: 1.25rem;
    font-weight: var(--font-medium);
}

.color-red{
    color: hsl(0, 69%, 50%);
}
